<h1>Home Page</h1>

<div *ngIf="isUserAuthenticated()" style="color:blue;">
  <h2>
    YOU ARE LOGGED IN
  </h2>
</div>

<ul>
  <li><a routerLink="/customers">Customer</a></li>
  <li><a routerLink="/customers">Services Backlog</a></li>
  <li><a routerLink="/customers">DUO User Manager</a></li>
  <li><a routerLink="/customers">Reports</a></li>
  <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
  <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></li>
</ul>