<div class="flex-wrapper" style="height: 100%;">
  <div class="flex-columns" style="height: 100%;">
    <div class="login-sidebar">
      <div class="login-title">
        <h2>{{ title }}<br>Login Page</h2>
        <p>Login from here to access.</p>
      </div>
    </div>
    <div class="login-form">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
        <div class="form-group">
            <label for="username">User name</label>
            <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-black">Login</button>
        <p style="padding-top: 30px;">If you forgot your password, please, contact Technical Support Team</p>
        <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
      </form>
    </div>
  </div>
</div>